%h1(style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;text-align: center;margin-bottom: 1.77em;")
  Welcome to ScoutActivity

%p(style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: left;line-height: 1.5em;")
  Welcome to ScoutActivity.com, an app for helping Scouting Units generate and vote on activity ideas. Hopefully, this will help you in inspiring your Scouts and parents to be involved in the process and come up with some great new ideas to consider!


- if @unit
  - if @unit.activities.any?
    %p(style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: left;line-height: 1.5em;")
      You are already on your way with your Unit
      %strong= @user.unit.name
      and have added activities. That's great! Good luck in running a program to figure out good activities to host.

  - else
    %p(style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: left;line-height: 1.5em;")
      You've taken the first step to create your Unit,
      = succeed(",") do
        %strong= @user.unit.name
      so now you can start adding ideas. 


  %div(style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: center;line-height: 1.5em;padding:1em;background-color:#efefef;margin-top:1.5em;margin-bottom:1.5em;")
    Here is your custom link to share out to your Scouts and parents:
    %br
    = link_to sign_up_url(unit_id: @unit.id), sign_up_url(unit_id: @unit.id)

- else
  %p(style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: left;line-height: 1.5em;")
    Thanks for signing up, now you need to either
    = succeed(",") do
      = link_to "join an existing Unit", edit_user_url(@user, utm_source: 'app-email', utm_medium: 'email', utm_campaign: 'existing-users')
    or
    = succeed(".") do
      = link_to "add your Unit", new_unit_url(utm_source: 'app-email', utm_medium: 'email', utm_campaign: 'existing-users')

%p(style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: left;line-height: 1.5em;")
  I'm making a lot of improvements to the app and I'd love your feedback. Join our Facebook page
  = succeed(".") do
    = link_to "https://www.facebook.com/groups/scoutactivity", "https://www.facebook.com/groups/scoutactivity"
  Also, we do have a
  = link_to "FAQs", faqs_url(utm_source: 'app-email', utm_medium: 'email', utm_campaign: 'existing-users')
  and a 
  = link_to "Resources", activity_resources_url(utm_source: 'app-email', utm_medium: 'email', utm_campaign: 'existing-users')
  section on our site that you can check out. And lastly, we do have an
  = link_to "#{Unit.example&.first&.troop_count || 0} Ideas for Troop Activities", ideas_for_troop_activities_url 
  that you can check out, and even copy the activities easily (we just introduced a copy function) to your Unit.


%p(style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: left; margin-top:2.5em")
  %strong
    YIS,
    %br
    Carson Cole

