%urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  
  %url
    %loc= root_url
    %lastmod= @sitemap.last_root_page_update
    %priority 1.00
  %url
    %loc= about_url
    %lastmod= @sitemap.about_last_updated
    %priority 0.90
  %url
    %loc= activity_resources_url
    %lastmod= @sitemap.resources_last_updated
    %priority 0.80
  %url
    %loc= faqs_url
    %lastmod= @sitemap.faqs_last_updated
    %priority 0.80
  - if @last_troop_ideas_update
    %url
      %loc= ideas_for_troop_activities_url
      %lastmod= @sitemaap.ideas_for_troops_last_updated
      %priority 0.80
  - if @last_troop_covid_ideas_update
    %url
      %loc= ideas_for_covid_safe_troop_activities_url
      %lastmod= @sitemap.ideas_for_troop_covid_safe_last_updated
      %priority 0.80
  - @sitemap.units.each do |unit|
    %url
      %loc= unit_activities_url(unit)
      - if unit.activities.any?
        %lastmod= unit.activities.last.updated_at.strftime("%FT%TZ")
      - else
        %lastmod= unit.updated_at.strftime("%FT%TZ")
      %priority 0.85

  - @sitemap.activities.each do |activity|
    %url
      %loc= unit_activity_url(activity.unit, activity)
      %lastmod= activity.updated_at.strftime("%FT%TZ")
      %priority 0.80
