.form-group
  = form.label :email
  = form.email_field :email, class: 'form-control'


.form-group
  = form.label :password
  = form.password_field :password, class: 'form-control'

- if @unit
  = form.hidden_field :unit_id, value: @unit.id
- else
  .form-group

    = form.label :unit
    
    = form.collection_select :unit_id, Unit.all, :id, :name, {include_blank: true }, class: 'form-control', id: 'unit-select', disabled: current_user && current_user.persisted? && current_user.unit.present? && current_user.is_owner?
    - unless current_user
      %small.text-muted Select your Unit, or leave blank if your Unit has not been added yet. You'll do that next.

  - if @user.persisted? && @user.unit.nil?
    %p= link_to "Add a Unit", new_unit_path

- if current_user && current_user.persisted?
  %br
  .form-check.form-check-inline
    = form.check_box :is_subscribed, class: 'form-check-input'
    = form.label :subscribed_to_emails, class: 'form-check-label'


%br
