.form-group
  = form.label :email
  = form.email_field :email, class: 'form-control'


.form-group
  = form.label :password
  = form.password_field :password, class: 'form-control'

.form-group

  = form.label :troop
  
  = form.collection_select :troop_id, Troop.all, :id, :name, {include_blank: true }, class: 'form-control', id: 'troop-select', disabled: current_user && current_user.persisted? && current_user.troop.present? && current_user.is_owner?
  - unless current_user
    %small.text-muted Select your Troop, or leave blank if your troop has not been added yet. You'll do that next.

- unless @user.troop
  %p= link_to "Add a Unit", new_troop_path

- if current_user && current_user.persisted?
  %br
  .form-check.form-check-inline
    = form.check_box :is_subscribed, class: 'form-check-input'
    = form.label :subscribed_to_emails, class: 'form-check-label'


%br