.row
  .col-md-12
    %h1 
      - if @unit
        Sign up to vote for
        = succeed("'s") do
          = @unit.name
        activities
      - else
        = t(".title")

.row
  .col-md-3
  .col-md-6
    #clearance.sign-up
      %p.mb-5.text-muted.text-center
        - if @unit
          Sign up to vote, or add an activity
        - else
          Sign up to vote, add a unit, or add an activity

      = form_for @user do |form|
        - if @user.errors.any?
          #error_explanation
            .message= "Ouch! Some bad stuff stopped me from creating your account:"
            %ul
              - @user.errors.full_messages.each do |message|
                %li= message
        = render partial: '/users/form', object: form

        .submit-field
          = form.submit class: 'btn btn-primary'

        .other-links
          Already signed up?
          = link_to t(".sign_in"), sign_in_path


