.row
  .col-md-3
  .col-md-6
    #clearance.sign-up
      %h2= t(".title")

      = form_for @user do |form|
        - if @user.errors.any?
          #error_explanation
            .message= "Ouch! Some bad stuff stopped me from creating your account:"
            %ul
              - @user.errors.full_messages.each do |message|
                %li= message
        = render partial: '/users/form', object: form

        .submit-field
          = form.submit class: 'btn btn-primary'

        .other-links
          = link_to t(".sign_in"), sign_in_path


