#home
  .d-none.d-sm-block
    .row
      .col-md-3
      .col-md-6.text-center
        = image_tag "scout-activity-vertical.png", class: 'logo img-fluid', id: 'root-page-logo', width: 300

    .row
      .col-md-2
      .col-md-8
        %h5.text-muted.text-center Scouting tool for collecting, promoting and voting on unit activity ideas.


  .row
    .col-md-12.text-center
      %h2.choice Select a Troop

  .row
    .col-md-1
    .col-md-10.mb-3.text-center

      - @troops.each do |troop|
        = link_to troop.name, troop_activities_path(troop), class: 'btn btn-primary btn-lg troop'

  .row
    .col-md-2
    .col-md-8.justify-content-center
      - if signed_in?
        - if current_user.troop.nil?
          %h2.choice Or, if your Troop is not listed
          .text-center= button_to "Add your Troop", new_troop_path, method: :get, class: 'btn btn-warning btn-lg'
      - else 
        %h2.choice Or, if your Troop is not listed
        .text-center= button_to "Get started", sign_up_path, method: :get, class: 'btn btn-warning btn-lg'

= render 'features'