#home
  .d-none.d-sm-block
    .row
      .col-md-3
      .col-md-6.text-center
        = image_tag "scout-activity-vertical.png", class: 'logo img-fluid', id: 'root-page-logo', width: 250

    .row
      .col-md-2
      .col-md-8
        %h2.text-muted.text-center Scouting leader tool for new activity ideas.

  - if @example_unit
    .row
      .col-md-12.text-center
        = link_to 'View Activity Ideas', unit_activities_path(@example_unit), class: 'btn btn-warning btn-lg'

  %br

  %aside#troop-selection
    .row
      .col-md-12.text-center
        %h1.choice Select a Troop

    .row
      .col-md-1
      .col-md-10.mb-3.text-center
        - @units.each do |unit|
          - if signed_in? && current_user.unit == unit
            = link_to unit.name, unit_activities_path(unit), class: 'btn btn-outline-primary troop'
          - else
            = link_to unit.name, unit_activities_path(unit), class: 'btn btn-primary troop'

    .row
      .col-md-2
      .col-md-8.justify-content-center
        - if signed_in?
          - if current_user.unit.nil?
            %h2.choice Or, if your Unit is not listed
            .text-center= button_to "Add your Unit", new_unit_path, method: :get, class: 'btn btn-warning btn-lg'
        - else 
          %h2.choice Or, if your Unit is not listed
          .text-center= button_to "Get started", sign_up_path, method: :get, class: 'btn btn-warning btn-lg'

  = render 'features'
