#resources
  .row
    .col-md-7
      %h1 Activity Resources

      %p Resources to help in planning a Scouting activity program.

      %ul
        %li
          = link_to "BSA/Annual Planning Conference", "https://troopleader.scouting.org/annual-planning-conference/", target: '_blank'
          Long-term planning happens at the Annual Planning Conference, a Scout-led, Scoutmaster-guided conference to plan out Unit activities.
        %li
          = link_to "BSA/Monthly Planning and the PLC", "https://troopleader.scouting.org/patrol-leaders-council/", target: '_blank'
          Good description of the Patrol Leaders' Council (PLC), its purpose, and how it functions.
        %li
          = link_to "BSA/Program Features", "https://troopleader.scouting.org/program-features", target: '_blank'
          48 themed modules to help make program planning easier for troop leaders.
        %li
          = link_to "100 Ideas for Troop Meetings", "http://www.thedump.scoutscan.com/100ideastroop.pdf", target: '_blank'
          A collection of ideas that may inspire you.
        %li
          = link_to "ScoutShare.org", "http://scoutshare.org", target: '_blank'
          A site to find resources and ideas for your Scouting Unit.
        %li
          = link_to "Boy Scout Trail", "https://boyscouttrail.com", target: '_blank'
          A good general site for everything Scouting, from activities and jokes, to skits and songs.
        %li
          = link_to "Cub Scout Ideas", "https://cubscoutideas.com", target: '_blank'
          Cub Scout-focused information and activities site.


      %p.mt-5
        %strong Have a resource?
        Send it to me!
        =mail_to "carson.cole@gmail.com"