= form_for [@unit, @activity, @question, @answer] do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
      %ul
        - @answer.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :answer
    = f.text_field :content, class: 'form-control', placeholder: 'Enter your answer'


  .action
    = f.submit "Add your answer", class: 'btn btn-primary'