#unit
  .row
    .col-md-3
    .col-md-6
      %h1= @unit.name
      = render 'form'

      = render 'share_link'

  .row
    .col-md-3
    .col-md-6
      %h2 Users
      %table.table.table-sm#users
        %thead
          %tr
            %th.email User
            %th.vote-count Votes cast
        - @users.each do |user|
          %tr
            %td.email
              = user.email
              - if user.is_owner?
                .badge.badge-info Admin

            %td.vote-count= user.votes_count

