#unit
  .row
    .col-md-3
    .col-md-6
      %h1= @unit.name
      = render 'form'

      = render 'share_link'

  .row
    .col-md-3
    .col-md-6
      %h2 Users
      %table.table.table-sm#users
        %thead
          %tr
            %th.email User
            %th.vote-count Votes cast
        - @users.each do |user|
          %tr
            %td.email
              = user.email
              - if user.is_owner?
                .badge.badge-info Owner
              - if user.is_admin?
                .badge.badge-info Admin
              - if current_user.admin_or_owner?
                = link_to edit_user_path(user), id: "user-#{user.id}-edit-link" do
                  = fa_icon "edit"
            %td.vote-count= user.votes_count

