%tr
  %td.name
    = link_to activity.name, troop_activity_path(@troop, activity)
    &nbsp;
    - if activity.is_hiking?
      = fa_icon "hiking"
    - if activity.is_swimming?
      = fa_icon "swimmer"
    - if activity.is_plane?
      = fa_icon "plane"
    - if activity.is_camping?
      = fa_icon "campground"
  %td.votes-count
    = activity.votes_count
  %td.vote
    - if signed_in? && current_user.troop == @troop
      - if current_user.votes_available.positive?
        = button_to troop_votes_path(@troop, activity_id: activity.id), class: 'btn btn-primary' do
          = fa_icon "plus"
      - if current_user.votes.find_by(activity_id: activity.id)
        - vote = current_user.votes.find_by(activity_id: activity.id)
        = button_to troop_vote_path(@troop, vote), method: :delete, class: 'btn btn-primary' do
          = fa_icon "minus"
    - elsif !signed_in?
      = button_to "Sign in to vote", sign_in_path, method: :get, class: 'btn btn-primary'
  %td.votes-count
    - count = activity.votes.where(user: current_user).count
    - if count.positive?
      = count