%li.list-group-item
  .row
    .col-xl-8
      %h3.name
        - if activity.unit.is_example
          = link_to activity.name, activity_path(activity)
        - else
          = link_to activity.name, unit_activity_path(activity.unit, activity)
        &nbsp;
      - if activity.created_at > Time.now - 7.days
        .badge.badge-primary.new-badge NEW
      = render partial: 'activity_icons', locals: { activity: activity }
      - if activity.activity_icons?
        \|
      %span.text-muted
        = pluralize(activity.duration_days, 'day')

    - if @no_vote != true
      .col-xl-4
        .voting
          .votes-count(id="activity-#{activity.id}-total-count")
            - unless activity.is_archived?
              = activity.votes_count || 0
              / .votes
              / # = "vote".pluralize(activity.votes_count)
          - if signed_in? && current_user.unit == activity.unit
            .vote
              - unless activity.is_archived?
                - if signed_in? && current_user.unit == activity.unit
                  - if current_user.votes_available.positive?
                    = button_to unit_votes_path(activity.unit, activity_id: activity.id), class: 'btn btn-primary', id: "place-vote-#{activity.id}" do
                      = fa_icon "plus"
                  - if current_user.votes.find_by(activity_id: activity.id)
                    - vote = current_user.votes.order(created_at: :desc).where(activity_id: activity.id).first
                    = button_to unit_vote_path(activity.unit, vote), method: :delete, class: 'btn btn-primary', id: "remove-vote-#{activity.id}" do
                      = fa_icon "minus"
            .votes-count
              - unless activity.is_archived?
                - count = activity.votes.where(user: current_user).count
                = count || 0
    - else
      .col-xl-4
        .copy
          = link_to unit_activity_copy_path(activity.unit, activity), method: :post do
            = fa_icon "copy"

