= form_for [@troop, @activity] do |f|
  - if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |message|
          %li= message

  / .form-group
  /   = f.label :author, "Your name"
  /   = f.text_field :author, class: 'form-control'

  .form-group
    = f.label :name, "What's a good title for your activity idea?"
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :summary, "Summary"
    = f.rich_text_area :summary, placeholder: 'A brief 2-3 lines summarizing your idea', class: 'form-control summary'
  .form-group
    = f.label :description
    = f.rich_text_area :description, class: 'form-control', rows: "40"
  .form-group
    = f.label :itinerary, "What would the itinerary look like?"
    = f.rich_text_area :itinerary, class: 'form-control'
  .form-group
    = f.label :duration_days, "Number of days"
    = f.number_field :duration_days, class: 'form-control'
  .form-group
    = f.label :images
    
    = f.file_field :images, multiple: true, class: 'form-control-file'
  %br
  .form-check
    = f.check_box :is_hiking, class: 'form-check-input'
    = f.label :is_hiking, "Hiking", class: 'form-check-label'
  .form-check
    = f.check_box :is_camping, class: 'form-check-input'
    = f.label :is_camping, "Camping", class: 'form-check-label'
  .form-check
    = f.check_box :is_swimming, class: 'form-check-input'
    = f.label :is_swimming, "Swimming", class: 'form-check-label'
  .form-check
    = f.check_box :is_biking, class: 'form-check-input'
    = f.label :is_biking, "Biking", class: 'form-check-label'
  .form-check
    = f.check_box :is_plane, class: 'form-check-input'
    = f.label :is_plane, "Flying involved", class: 'form-check-label'
  .form-check
    = f.check_box :is_cooking, class: 'form-check-input'
    = f.label :is_cooking, "Cooking", class: 'form-check-label'
  .form-check
    = f.check_box :is_merit_badge, class: 'form-check-input'
    = f.label :is_merit_badge, "Merit badge advancement", class: 'form-check-label'
  .form-check
    = f.check_box :is_fundraising, class: 'form-check-input'
    = f.label :is_fundraising, "Fundraising", class: 'form-check-label'
  .form-check
    = f.check_box :is_community_service, class: 'form-check-input'
    = f.label :is_community_service, "Community Service", class: 'form-check-label'
  .form-check
    = f.check_box :is_high_adventure, class: 'form-check-input'
    = f.label :is_high_adventure, "High Adventure", class: 'form-check-label'

  %br
  .form-check
    = f.check_box :is_author_volunteering, class: 'form-check-input'
    = f.label :is_author_volunteering, "If you are a parent, can you volunteer to help lead?", class: 'form-check-label'

  %br
  .form-check
    = f.check_box :is_archived, class: 'form-check-input'
    = f.label :is_archived, "Archive?", class: 'form-check-label'
    %small.text-muted Archiving removes votes from an activity and no longer shows the activity in the polling.
  %br
  .actions
    = f.submit class: 'btn btn-primary'
