#activities

  %h1
    - if params[:admin]
      Activities
    - else
      Vote for Activities


      - if signed_in?
        .row
          .col-md-3
          .col-md-6
            .text-center.mb-5
              %h3
                .badge.badge-primary= current_user.votes_available
                %span.text-muted votes left

  - if @activities.any?

    .row
      .col-md-2
      .col-md-8
        %table.table.activities
          - unless params[:admin]
            %thead
              %tr
                %th
                %th= fa_icon "users"
                %th
                %th= fa_icon "user"
          %tbody
            = render(@activities)

  %br

  - if @high_adventure_activities&.any?
    .row
      .col-md-2
      .col-md-8
        %h3.text-center.mb-0 High Adventure
        %p.text-muted.text-center.mb-4 Please only vote if you are at least 13 years old

        %table.table.activities
          %tbody
            = render partial: 'activity', collection: @high_adventure_activities, as: :activity

  - if @activities.empty?
    %p.text-center
      = link_to "Propose an Activity", new_troop_activity_path(@troop)