#activities

  %h1
    = @unit.name
    Activity Vote

  - if signed_in? && @unit == current_user.unit
    .row
      .col-md-3
      .col-md-6
        .text-center.mb-5
          .vote-count
            .badge.badge-primary#votes-available= current_user.votes_available
            %span.text-muted votes left

  - if @activities.any?

    - unless signed_in?
      .text-center.mb-4= button_to "Sign in or sign up to vote", sign_in_path, method: :get, class: 'btn btn-primary'

    .row
      .col-md-2
      .col-md-8
        %table.table.activities
          %thead
            %tr
              %th
              %th= fa_icon "users"
              - if signed_in? && current_user.unit == @unit
                %th
                %th
                  = fa_icon "user"
          %tbody
            = render(@activities)

  %br

  - if @high_adventure_activities&.any?
    .row
      .col-md-2
      .col-md-8
        %h3.text-center.mb-2 High Adventure
        %p.text-muted.text-center.mb-4 Please only vote if you are at least 13 years old

        %table.table.activities
          %tbody
            = render partial: 'activity', collection: @high_adventure_activities, as: :activity

        %hr
  - if @activities.empty?
    %p.text-center
      No activities have been proposed.
      - if signed_in? && @unit == current_user.unit
        = link_to "Propose an Activity", new_unit_activity_path(@unit)
      
    = render 'share_link'

  - if @archived_activities&.any?
    %br
    .row
      .col-md-2
      .col-md-8
        %h3.text-center.mb-2 Archived

        %table.table.activities
          %tbody
            = render partial: 'activity', collection: @archived_activities, as: :activity

  - unless signed_in?
    .row
      .col-md-3
      .col-md-6.mt-2.mb-5
        %small
          .text-center.text-muted (You need to have selected this Troop to vote for its activities)

  .row
    .col-md-12.text-center
      .share-link
        = link_to 'http://www.facebook.com/sharer.php?u=' +request.url, target: :blank do
          = fa_icon "share"
          Share