.container
  - if @is_example
    = render partial: 'breadcrumbs', locals: { link_url: troop_activity_ideas_path, link_text: 'Ideas for Troop activities' }
  - elsif @unit
    = render partial: 'breadcrumbs', locals: { link_url: unit_activities_path(@unit), link_text: 'All activities' }

%main#activity
  %article
    .container
      .row
        .col-md-9

          - if @activity.created_at > Time.now - 7.days
            %span.badge.badge-primary.new-badge NEW
          %h1
            - unless @is_example
              = @activity.unit.name
              \-
            = @activity.name
          .activity-icons= render partial: 'activity_icons', locals: { activity: @activity }
          = pluralize(@activity.duration_days, "day")
        - unless @is_example
          .col-md-3
            #activity-vote-count
              .activity-count
                = @activity.unit_votes_count || 0
              .votes= "vote".pluralize(@activity.unit_votes_count)

      .row
        .col-md-9

          %h2 Summary
          %p= @activity.summary_new

          %br

          - if @activity.description.present?
            %h2 Description
            = @activity.description

          - if @activity.itinerary.present?
            %h2 Itinerary
            = @activity.itinerary

    - if @activity.images.attached?
      .container-fluid.pl-0.pr-0
        #activity-images
          - @activity.images.each do |image|
            - next unless image.variable?
            .text-center= image_tag image.variant(resize_to_limit: [800, 800]), class: 'activity-image img-fluid rounded'

    .container
      - unless @is_example
        .row
          .col-md-7

            = render 'discussion'

      - if @activity.author && !@is_example
        .row
          .col-md-7
            %h2 Details
            #proposer
              .row
                .col-md-9
                  %strong Proposed by:
                  %br
                  = @activity.author.name_email
                  - if @activity.is_author_volunteering?
                    %br
                      The proposer is willing to help lead this activity.

      .row
        .col-md-7
          = render 'actions'


