%p#notice= notice

%p
  %b Name:
  = @activity.name
%p
  %b Summary:
  = @activity.summary
%p
  %b Itinerary:
  = @activity.itinerary
%p
  %b Duration days:
  = @activity.duration_days

- if @activity.author == current_user
  = link_to 'Edit', edit_troop_activity_path(@troop, @activity)
  %br
  %br
  = button_to "Destroy", troop_activity_path(@troop, @activity), method: :delete, data: { confirm: 'Are you sure? This will remove the Activity and all of the related votes for it.'}, class: 'btn btn-primary'
