#activity
  .row
    .col-md-9


      %h1
        = @activity.name
        - if @activity.created_at > Time.now - 7.days
          .badge.badge-primary NEW
      .activity-icons= render partial: 'activity_icons', locals: { activity: @activity }


    .col-md-3
      #activity-vote-count
        .activity-count
          = @activity.votes_count || 0
        .votes votes


  .row
    .col-md-8

      %hr

      %h2 Summary
      = @activity.summary

      %br
      %p
        Activity length:
        = pluralize(@activity.duration_days, "day")

      - if @activity.description.present?
        %hr

        %h2 Description
        = @activity.description

      - if @activity.itinerary.present?
        %hr

        %h2 Itinerary
        = @activity.itinerary

      #activity-images
        - @activity.images.each do |image|
          %hr
          .text-center= image_tag image.variant(resize_to_limit: [800, 800]), class: 'img-fluid rounded'


      %hr
        - if @activity.author == current_user
          .actions
            = link_to 'Edit', edit_troop_activity_path(@troop, @activity), class: 'action'
            = button_to "Archive", troop_archive_activity_path(@troop, @activity), data: {confirm: 'Archiving will remove the Activity from voting and return any votes placed for it. You can still access and un-archive the activity from your own activities "My Activities".'}, class: 'btn btn-primary action'
            = button_to "Destroy", troop_activity_path(@troop, @activity), method: :delete, data: { confirm: 'Are you sure? This will destroy the Activity and return any votes placed for it.'}, class: 'btn btn-danger action'

      %hr
      %p
        %strong Proposed by:
        %br
        = @activity.author.email
        - if @activity.is_author_volunteering?
          %br
            The proposer is willing to help lead this activity.

    .col-md-4
      #discussion
        .row
          .col-md-12
            %h1 Discussion
            = render partial: 'questions/question', collection: @questions

            - if signed_in? && @troop == current_user.troop
              = link_to "Ask a question", new_troop_activity_question_path(@troop, @activity), class: 'question-link'

        - unless signed_in? && @troop == current_user.troop
          .row
            .col-md-12
              = link_to "Sign in to ask questions or answer", sign_in_path, class: 'sign-in-link'
