#activity
  .row
    .col-md-9


      %h1= @activity.name
      
      .activity-icons= render partial: 'activity_icons', locals: { activity: @activity }

      %p
        Proposed by:
        %br
        = @activity.author.email
    .col-md-3
      .activity-count
        = @activity.votes_count || 0
      .votes votes

      %p.mt-5.text-center= link_to "All activities", troop_activities_path(@troop)

  .row
    .col-md-9

      %hr

      %h2 Summary
      = @activity.summary

      %br
      %p
        Activity length:
        = pluralize(@activity.duration_days, "day")

      - if @activity.description.present?
        %hr

        %h2 Description
        = @activity.description

      - if @activity.itinerary.present?
        %hr

        %h2 Itinerary
        = @activity.itinerary


      - if @activity.author == current_user
        %hr
        = link_to 'Edit', edit_troop_activity_path(@troop, @activity)
        %br
        %br
        = button_to "Destroy", troop_activity_path(@troop, @activity), method: :delete, data: { confirm: 'Are you sure? This will remove the Activity and all of the related votes for it.'}, class: 'btn btn-primary'

  .row.mt-5
    .col-md-12
      - @activity.images.each do |image|
        .text-center= image_tag image.variant(resize_to_limit: [800, 800]), class: 'img-fluid rounded'
        %br
        %hr
