%p#notice= notice

%p
  %b Name:
  = @activity.name
%p
  %b Author:
  = @activity.author
%p
  %b Summary:
  = @activity.summary
%p
  %b Itinerary:
  = @activity.itinerary
%p
  %b Duration days:
  = @activity.duration_days

- if @activity.author == current_user
  = link_to 'Edit', edit_troop_activity_path(@troop, @activity)

