#activity-icons
  - if activity.is_hiking?
    .activity-icon#hiking-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Hiking')= fa_icon("hiking") 
  - if activity.is_swimming?
    .activity-icon#swimming-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Swimming')= fa_icon "swimmer" 
  - if activity.is_biking?
    .activity-icon#biking-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Biking')= fa_icon "biking"
  - if activity.is_plane?
    .activity-icon#flying-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Flying')= fa_icon "plane"
  - if activity.is_cooking?
    .activity-icon#cooking-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Cooking')= fa_icon "utensils"
  - if activity.is_merit_badge?
    .activity-icon#merit-badge-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Merit Badge')= image_tag "merit-badge.svg", width: '26px'
  - if activity.is_camping?
    .activity-icon#camping-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Camping')= fa_icon "campground"
  - if activity.is_boating?
    .activity-icon#camping-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Boating')= fa_icon "anchor"
  - if activity.is_virtual?
    .activity-icon#virtual-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Virtual')= fa_icon "video"
  - if activity.is_game?
    .activity-icon#game-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Game')= fa_icon "trophy"
  - if activity.is_fundraising?
    .activity-icon#fundraising-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Fundraising')= fa_icon "dollar-sign"
  - if activity.is_covid_safe?
    .activity-icon#fundraising-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='COVID Safe')= fa_icon "head-side-mask"
  - if activity.is_community_service?
    .activity-icon#community-service-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='Community Service')= fa_icon "store" 
  - if activity.is_international?
    .activity-icon#international-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='International Scouting')= image_tag "world-crest.png", width: '26px'
  - if activity.is_high_adventure?
    .activity-icon#high-adventure-icon(data-toggle = "tooltip" data-type="primary" data-placement = "top" title='High Adventure')= fa_icon "mountain"