= fa_icon "hiking" if activity.is_hiking?
= fa_icon "swimmer" if activity.is_swimming?
= fa_icon "biking" if activity.is_biking?
= fa_icon "plane" if activity.is_plane?
= fa_icon "campground" if activity.is_camping?
= fa_icon "store" if activity.is_camping?