#features

  .row
    .col-md-12
      %hr
      %h1 Planning Scout Activities
  .row
    .col-md-5
    .col-md-7
      %p The annual challenge for planning Scout activities is a ritual all Troops go through. ScoutActivity makes it easy to offer one place that your Troop's Scouts, leaders, parents and other volunteers can offer up ideas that bring excitement, new adventures, and new opportunities for learning to your Scouts. And on the site, Scouts can vote for the ideas that excite them the most, engaging them in the planning process.

      %p.text-center
        = link_to "View an example troop's activites", troop_activities_path(Troop.first)

  .row
    .col-md-12
      %h2 Viewing Activities

  .row
    .col-md-5
    .col-md-7
      %p The site makes it easy to highlight exciting ideas and informing new Scouts about how exciting an activity has been in the past. Activities can be written up to include Troop photos, maps, an itinerary, and a lot more details that will inspire your Scouts to want to do it, and ultimately do it.

      = image_tag "feature-canoe.png", class: 'img-fluid rounded'
      %br
      %br
      = image_tag "feature-description.png", class: 'img-fluid rounded'
      %br
      %br
      = image_tag "feature-sand.jpg", class: 'img-fluid rounded'

  .row
    .col-md-12
      %h2 Discussion

  .row
    .col-md-5
    .col-md-7
      %p Posing questions or adding activity comments is possible, enabling an interactive discussion with the author of the activity and everyone else in your unit.

      = image_tag "discussion.png", class: 'img-fluid rounded'


  .row
    .col-md-12
      %h2 Voting

  .row
    .col-md-5
    .col-md-7
      %p The site makes it easy for voting on activities. Each Scout is given a set number of votes that can be apportioned over all of the activities, or just on their most favorite choices. This will make it easy for your PLC to review and see where the Troop has the highest interest and can plan accordingly.

      = image_tag "feature-votes.png", class: 'img-fluid rounded'

  .row
    .col-md-12
      %h2 Types of activities
  .row
    .col-md-5
    .col-md-7
      %p Activities can be classified in multiple ways, making it easy for Scouts to identify the types of activities they are looking for. The classifications include:

      %ul
        %li
          Camping
          .activity-icon= fa_icon "campground"
        %li
          Cooking
          .activity-icon= fa_icon "utensils"
        %li
          Hiking
          .activity-icon= fa_icon "hiking"
        %li
          Swimming
          .activity-icon= fa_icon "swimmer"
        %li
          Biking
          .activity-icon= fa_icon "biking"
        %li 
          Flying
          .activity-icon= fa_icon "plane"
        %li 
          Merit badge
          .activity-icon= image_tag "merit-badge.svg", width: '25px', height: '25px', class: 'img-fluid'
        %li
          Community Service
          .activity-icon= fa_icon "store"
        %li
          Fundraising
          .activity-icon= fa_icon "dollar-sign"


  .row
    .col-md-12
      %h2#parent-involvement More parent involvement

  .row
    .col-md-5
    .col-md-7
      %p By encouraging parents and other volunteers to propose ideas to the Troop, you also open the door for their involvement in helping prepare for and hold the activity. For example, one of your parents could be a professional bicyclist and could offer a weekend-long bike trips, and in preparation, could help Scouts to not only holding the event, but even hosting bike clinics leading up the event. It's an easier route to getting more volunteers!

      = image_tag "feature-volunteer.png", class: 'img-fluid rounded'