%footer
  Copyright
  = Time.now.year
  \|
  = link_to "About", about_path(utm_source: 'footer')
  \|
  = link_to "Activity Resources", activity_resources_path(utm_source: 'footer')
  \|
  = link_to "FAQs", faqs_path(utm_source: 'footer')
  \|
  = link_to 'http://www.facebook.com/sharer.php?u=' +request.url, target: :blank do
    = fa_icon "share"
    Share