%footer
  .container-fluid
    %nav.nav.justify-content-center
      .nav-item.nav-link
        Copyright
        = Time.now.year
      .nav-item 
        = link_to "About", about_path(utm_source: 'footer'), class: 'nav-link'
      .nav-item
        = link_to "Activity Resources", activity_resources_path(utm_source: 'footer'), class: 'nav-link'
      .nav-item
        = link_to "Example Unit", example_unit_path(utm_source: 'footer'), class: 'nav-link'
      .nav-item
        = link_to "Top Activities", top_activities_path(utm_source: 'footer'), class: 'nav-link'
      .nav-item
        = link_to "FAQs", faqs_path(utm_source: 'footer'), class: 'nav-link'
      .nav-item
        = link_to 'http://www.facebook.com/sharer.php?u=' +request.url, class: 'nav-link', target: :blank do
          = fa_icon "share"
          Share
