= render 'google_tag_manager_head' if Rails.env.production? && !cookies[:debug].present?
%title= @title || 'Fun and engaging Scout activities for your Unit - Scout Activity'

= csrf_meta_tags
= csp_meta_tag
%meta(name="viewport" content="width=device-width, initial-scale=1")
%meta{property: "description", content: @description || "Scouting Unit tool for finding and voting on activity ideas."}
%meta{property: "og:description", content: @description || "Scouting Unit tool for finding and voting on activity ideas."}
%meta(property="og:title" content="ScoutActivity")
%meta(property="og:image" content="#{image_url 'scout-activity-vertical.png'}")
%meta(property="og:url" content="https://scoutactivity.com")
%meta(property="og:type" content="website")
%meta(property="og:site_name" content="ScoutActivity")
%meta(name="theme-color" content="#1B0DCC")
- if action_name == 'index' && controller_name == 'home'
  %link(rel="canonical" href="https://scoutactivity.com")
= favicon_link_tag asset_path('scout-activity.ico')
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
%script(src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-mutate-approach="sync")
