= form_for @troop do |f|
  - if @troop.errors.any?
    #error_explanation
      %h2= "#{pluralize(@troop.errors.count, "error")} prohibited this troop from being saved:"
      %ul
        - @troop.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :unit_name, "Troop Unit number and city"
    %small.text-muted ex. "Troop 100 Boise, ID"
    = f.text_field :unit_name, class: 'form-control'


  .form-group
    = f.label :votes_allowed
    = f.number_field :votes_allowed, class: 'form-control'

  .actions
    = f.submit 'Save', class: 'btn btn-primary'
