%h1 Listing troops

%table
  %thead
    %tr
      %th Unit number
      %th
      %th
      %th

  %tbody
    - @troops.each do |troop|
      %tr
        %td= troop.unit_number
        %td= link_to 'Show', troop
        %td= link_to 'Edit', edit_troop_path(troop)
        %td= link_to 'Destroy', troop, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Troop', new_troop_path
