!!!
%html
  %head
    = render 'google_tag_manager_head' if Rails.env.production?
    %title= @title || 'ScoutActivity - Tool for collecting ideas for Scouting activites'

    = csrf_meta_tags
    = csp_meta_tag
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(property="og:description" content="Scouting troop tool for promoting new ideas for activities from Scouts and parents and let Scouts vote on them.")
    %meta(property="og:title" content="ScoutActivity")
    %meta(property="og:image" content="#{image_url 'scout-activity-vertical.png'}")
    %meta(property="og:url" content="https://scoutactivity.com")
    %meta(property="og:type" content="website")

    = favicon_link_tag asset_path('scout-activity.ico')
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %script(src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-mutate-approach="sync")

  %body
    = render 'google_tag_manager_body' if Rails.env.production?
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light#main-nav
      = link_to root_path, class: 'navbar-brand', id: 'brand-logo' do
        = image_tag "scout-activity-horizontal.png", alt: 'ScoutActivity Logo', width: 150, class: 'img-fluid'
      %button.navbar-toggler(type='button' data-toggle="collapse" data-target="#navbarSupportedContent")
        %span.navbar-toggler-icon

      %div.collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.mr-auto
          - if @troop && @troop.persisted?
            %li.nav-item.nav-link
              .badge.badge-primary= @troop.unit_name
            %li.nav-item
              = link_to "Vote", troop_activities_path(@troop), class: 'nav-link'
            %li.nav-item
              = link_to "Propose an Activity", new_troop_activity_path(@troop), class: 'nav-link'
            - if signed_in? && (@troop.owner == current_user || current_user.activities.any?)
              %li.nav-item.nav-link
                = link_to "My Activities", troop_activities_path(@troop, admin: true)
        - if signed_in?
          .dropdown
            = link_to "#", id: 'navbarDropdown', 'data-toggle': 'dropdown', class: 'nav-link dropdown-toggle' do
              = fa_icon "user"
            .dropdown-menu.dropdown-menu-right#user-menu
              .dropdown-item= link_to current_user.email, edit_user_path(current_user)
              - current_user.troops.each do |troop|
                = link_to troop.unit_name, edit_troop_path(troop), class: 'dropdown-item'
              = link_to 'Sign out', sign_out_path, method: :delete, class: 'dropdown-item'
        - else
          = link_to 'Sign in', sign_in_path, class: 'nav-link'
          = link_to 'Sign up', sign_up_path, class: 'nav-link'

    = render 'flash'

    .container#main
      = yield

    = render 'footer'
    = render 'tooltip'