!!!
%html(lang='en')
  %head
    = render 'head'
  %body
    = render 'google_tag_manager_body' if Rails.env.production? && !cookies[:debug].present?
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light#main-nav
      = link_to root_path, class: 'navbar-brand', id: 'brand-logo' do
        = image_tag "scout-activity-horizontal.png", alt: 'ScoutActivity Logo', width: 150, class: 'img-fluid'
      %button.navbar-toggler(type='button' data-toggle="collapse" data-target="#navbarSupportedContent")
        %span.navbar-toggler-icon

      %div.collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = link_to "All Units", root_path, class: 'nav-link'

          - if @unit && @unit.persisted? && action_name != 'top_activities'
            / %li.nav-item.nav-link
            /   .unit= @unit.name
            - if current_user&.unit == @unit
              %li.nav-item
                = link_to "Vote", unit_activities_path(@unit), class: 'nav-link', id: 'vote-link'
              %li.nav-item
                = link_to "Propose an Activity", new_unit_activity_path(@unit), class: 'nav-link', id: 'propose-link'
          - if Unit.example&.first&.troop_count&.positive?
            %li.nav-item
              .d-inline-block
                = link_to troop_activity_ideas_path, class: 'nav-link' do
                  = "#{Unit.example.first.troop_count} Troop Activity Ideas"
          - if Unit.example&.first&.covid_safe_count&.positive?
            %li.nav-item
              .d-inline-block
                = link_to covid_safe_troop_activity_ideas_path, class: 'nav-link' do
                  = "#{Unit.example.first.covid_safe_count} COVID Safe Troop Activity Ideas"
          - if Unit.example&.first&.fundraising_count&.positive?
            %li.nav-item
              .d-inline-block
                = link_to fundraising_activity_ideas_path, class: 'nav-link' do
                  = "#{Unit.example.first.fundraising_count} Fundraising Activity Ideas"
                  .badge.badge-warning NEW
        - if signed_in?
          .dropdown
            = link_to "#", id: 'navbarDropdown', 'data-toggle': 'dropdown', class: 'nav-link dropdown-toggle' do
              = fa_icon "user"
            .dropdown-menu.dropdown-menu-right#user-menu
              = link_to current_user.email, edit_user_path(current_user), class: 'dropdown-item'
              - if current_user&.unit && current_user.admin_or_owner?
                = link_to current_user.unit.name, edit_unit_path(current_user.unit), class: 'dropdown-item'
              = link_to 'Sign out', sign_out_path, method: :delete, class: 'dropdown-item'
        - else
          = link_to 'Sign in', sign_in_path, class: 'nav-link'
          = link_to 'Sign up', sign_up_path, class: 'nav-link'

    = render 'flash'

    #content

      - if controller_name == 'activities' && action_name == 'show'
        = yield
      - else
        .container
          = yield

    = render 'footer'
    = render 'tooltip'
